#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

/* 
From the config file: 
primaryColor="#FF0000"
backgroundColor="#04013b"
secondaryBackgroundColor="#001d00"
textColor="#FFD700"
font="serif"
*/

/* Style for all links */
a {
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make text bold */
  }
    
    /* Style for unvisited links */
    a:link {
    color: green;
    }

    /* Style for visited links */
    a:visited {
        color: green;
    }
  
    /* Style for links when mouse is over them */
    a:hover {
        color: red;
        text-decoration: underline; /* Add underline */
    }
  
    /* Style for links at the moment they are being clicked */
    a:active {
        color: yellow;
    }
  
/* Fix sidebar width */
section[data-testid="stSidebar"] {
    width: 50px !important; 
}

/* Disable anchor tags */
a.st-emotion-cache-kwu7in.e1nzilvr3 {       
    display: none;
}